@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family"Montserrat&display=swap');

.page-container {
  min-height:120vh
}

.body-grid {
  border-bottom:3px solid #ff6a5c;
  border-top:3px solid #ff6a5c;
  display:grid;
  grid-template-columns:1fr 1fr
}

.grid-picture img {
  height:100%;
  object-fit:cover;
  width:100%
}

.grid-search {
  align-items:center;
  background-color:#056571;
  display:flex
}

.grid-search-content {
  border-left:3px solid #ff6a5c;
  display:flex;
  flex-direction:column
}

.instruction {
  flex:50%;
  margin:2%;
  margin-bottom:3vh;
  margin-top:5vh
}

.instruction p {
  color:white;
  font-size:1.8vw
}

.search-container {
  margin-left:2%
}

#more-filters-wrap {
  margin-top:2%
}

input {
  font-size:1.5vw;
  height:3.5vh;
  padding:1%;
  width:20vw
}

form {
  font-size:1.5vw
}

select,option {
  cursor:pointer;
  font-size:1.35vw;
  font-weight:bolder;
  height:3.5vh
}

label {
  color:white;
  height:3.5vh;
  margin-right:1vw;
  padding:.5%
}

.search-with-title-container {
  display:flex;
  justify-content:center
}

.search-with-title-container input {
  margin-left:.8vw
}

.filter-container {
  display:flex;
  justify-content:center;
  margin-bottom:2%
}

.filter-container input {
  margin-right:7vw
}

#label-filter {
  min-width:12vw
}

::placeholder {
  font-size:1.35vw
}

button.search-button {
  background-color:#ccdfcb;
  cursor:pointer;
  font-size:1.2vw;
  height:3.5vh;
  text-align:center;
  width:5vw
}

details > summary {
  list-style:none
}

.advance-filter-button {
  background-color:#ccdfcb;
  cursor:pointer;
  font-size:1.2vw;
  height:3.5vh;
  margin-left:35.75vw;
  margin-top:-1%;
  padding:0;
  text-align:center;
  width:8vw
}

.top-movies-contrainer {
  align-items:center;
  display:flex;
  justify-content:center;
  margin-bottom:5vh;
  margin-top:3.5vh
}

.top-movies-contrainer p {
  color:white;
  font:1.8vw "Montserrat",sans-serif;
  padding-right:1vw
}

button.top-movies-button {
  background-color:#ccdfcb;
  color:black;
  cursor:pointer;
  font-size:1.5vw;
  font-weight:bolder;
  min-width:14vw;
  padding:1%
}